* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('../font/entypo.eot');
    src: url('../font/entypo.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo.woff') format('woff'),
         url('../font/entypo.ttf') format('truetype'),
         url('../font/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EntypoSocial';
    src: url('../font/entypo-social.eot');
    src: url('../font/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../font/entypo-social.woff') format('woff'),
         url('../font/entypo-social.ttf') format('truetype'),
         url('../font/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    line-height: 1.75em;
    color: #39454b;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
}

*[onClick], *[ng-click] {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: dotted 1px #ddd;
}

img { 
    display: block;
    max-width: 100%;
}

a {
    color: #0770a2;
    text-decoration: none;

    -moz-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

a:hover {
   text-shadow: 0px 1px 1px #aaaaaa;
}

#search, .content {
    min-width: 480px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#search > * {
    vertical-align: middle;
    padding: 5px;
    margin-left: 5px;
}

#searchJSONKey {
    width: 100%;
    min-height: 200px;
}

.searched #searchJSONKey {
    min-height: inherit;
}

#loader {
   display: inline-block;
   height: 1em;
   width: 1em;
   margin-left: 5px;
}

#logo {
    width: 50%;
    margin: 30% auto 10% auto;
}

#search.searched #logo {
    width: 30%;
    margin: 5px;
    display: inline-block;
}

footer {
    text-align: center;
    width: 100%;
}

.main-info {
    line-height: 1.2em;
}

.href-link {
    color: #070;
}

.device, .person, .tiraid, .product {
    border: solid 1px;
    font-size: 0.8em;
    padding: 5px;
    background-color: white;
    margin: 5px;
}

.device + .device {
    margin-top: 10px;
}

.device .half-width {
    border: solid 1px #CCCCCC;
}

.icon {
    max-height: 30px;
}

.device.colored {
    border-color: #FFAC71;
    background-color: #FFDFA6;
}

.person.colored {
    border-color: #BFD4FF;
    background-color: #BFD4FF;
} 

.product.colored {
    border-color: #FFFF82;
    background-color: #FFFF82;
}

.tiraid.colored {
    border-color: #CCCCCC;
    background-color: #EEEEEE;
}

.half-width p {
    background-color: #ccc;
}

.half-width {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

input.large, textarea.large {
    width: 400px;
}

.clear {
    clear: both;
}

.person img, .device img {
    border-radius: 75px;
    max-width: 30%;
    width: auto;
    height: auto;
    float: left;
    margin: 5px;
    max-height: 150px;
}

img.icon {
    clear: both;
    max-height: 2em;
}

.card {
    margin: 5px;
    padding: 5px;
    background-color: white;
}
.identity-card {
    border: solid 1px #0770a2;
}
.company-card {
    border: solid 1px #ddd;
}
.device-card {
    border: solid 1px orange;
}

/* JSON highlightings */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.extras > div {
    text-align: left;
    line-height: 1.2em;
    font-size: 1em;
}
pre {
    display: inline-block;
}

/* Icons */
.icon {
    font-family: 'EntypoRegular';
    font-size: 2em;
    display: inline-block;
    margin-right: 5px;
    vertical-align: bottom;
}
.social {
    font-family: 'EntypoSocial';
}

iframe.cormorant {
    width: 100%;
    height: 70vh;
    margin-top: 5%;
}

